@model List<PersonIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>People</h2>

<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DateCreated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @person.FirstName
                </td>
                <td>
                    @person.LastName
                </td>
                <td>
                    @person.Created
                </td>
            </tr>
        }
    </tbody>
</table>

